.ca1 h2{
    text-align: center;

}
.ca3{
    padding: 40px;
}
.ca3{
    background-color: #eeeeee;
			border: 4px solid grey;
			padding: 10px;
			height: 430px;
			width: 200px;
			float: left;
			margin: 10px;
    text-align: center;
}

.ca2 button[type="submit"]{
	text-align: center;
	border: none;
	height: 30px;
	width: 80px;
	background: green ;
	color: #fff;
	border-radius: 10px;
	}
.ta1 tr th{
    font-size: 20px;
    background-color: darkgray;
    border: 2px solid black;
    border-collapse: collapse;
}
.ta1 tr td{
    border: 1px solid black;
    border-collapse: collapse;
}