.itemimage{
    float: left;
    width: 40%;
    
}
.itemdetails{
    float: right;
    width: 60%;
    height: 200px;
    /* background-color: #cc2020; */
}
 img{
    margin-left:50px;
    
}
h5{
    text-align: center;
}
.itemimage input{
    text-align: center;
}
p{
    text-align: center;
}
button{
   background-color: rgb(114, 119, 124);
   width: 200px;
   
}
.rating{
    float: left;
    width: 50%;
}
.descr{
    float: right;
    width: 50%;
    background-color: aliceblue;
}

